.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__table {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, 125px);

    &--subtitles {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #000000;
    }
  }

  &__subtitle {
    padding: 0 5px;
    font-weight: 500;
    font-size: 18px;
  }

  &__col {
    padding: 3px 5px;
    border: 1px solid #000;

    &:not(:last-child) {
      border-right: 0;
    }

    &--remove {
      background: none;
      font-weight: 600;
      color: #f55555;
      text-align: right;
      cursor: pointer;
    }
  }

  &__btn-wrapper {
    text-align: center;

    &.hide {
      display: none;
    }
  }

  &__add {
    padding: 4px 10px;

    border: 0;
    border-radius: 5px;
    background: #01a801;

    color: #ffffff;

    cursor: pointer;
  }

  &__form {
    display: none;
    justify-content: center;

    &.show {
      display: flex;
    }
  }
}